name: Publish Maven Package

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    env:
      CONSUL_ACL_TOKEN: ${{ secrets.CONSUL_ACL_TOKEN }}
      KEYCLOAK_USERNAME: ${{ secrets.KEYCLOAK_USERNAME }}
      KEYCLOAK_PASSWORD: ${{ secrets.KEYCLOAK_PASSWORD }}
      KEYCLOAK_SECRET: ${{ secrets.KEYCLOAK_SECRET }}

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: temurin
          server-id: github
          server-username: maian3333
          server-password: ${{ secrets.GH_PACKAGES_TOKEN }}

      - name: Extract version from tag
        run: |
          TAG="${GITHUB_REF##*/}"
          VERSION="${TAG#v}"
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "Publishing version: $VERSION"

      - name: Set Maven version
        run: mvn -B versions:set -DnewVersion=${VERSION} -DgenerateBackupPoms=false

      - name: Build (openapi)
        run: mvn -B clean package -Prun-openapi -DskipTests

      - name: Deploy to GitHub Packages
        run: mvn -B deploy -DskipTests
